@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Quicksand';
    font-size: 25px;
    background-image: linear-gradient(to top, rgb(3, 7, 17), hsl(244, 32%, 9%));
    color: white;
    margin: 0px;
    padding: 0px;


    
}

header {
    background-color: rgb(1, 5, 17);
}

.divheader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

header .logo {
    padding: 20px;
    height: 55px;
    
    
}

span#burguer {
    color: white;
    padding: 30px;
    display: block;
    cursor: pointer;
    font-size: 1.5em;
}

menu {
    display: none;
    line-height: 50px;
}

menu > ul > li > a {
    color: white;
    display: block;
    text-align: center;
    border-top: 2px solid rgb(255, 255, 255);
    background-color: rgb(12, 16, 22);
}

menu > ul > li, a:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
}

h1{
    font-size: 56px;
    padding: 100px;
    
}


h1#h1bod{
    text-align: center;
    padding: 40px;
    padding-bottom: 90px;
    
    
}

a{  
    text-decoration: none;
    color: white;
}

.foto {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(24, 26, 37);
    box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.199);
    
}

.foto > div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-flex;
    position: relative;
    top: 5px;
    right: 105px;
}

.foto > div#bol1 {
    background-color: brown;
}
.foto > div#bol2 {
    background-color: goldenrod;
}
.foto > div#bol3 {
    background-color: green;
}

.whats{
    text-decoration: underline;
}

li{
    list-style-type: none;
}

.links:hover{
    text-decoration: underline;
}


#conteudo{
    text-align: center;
    padding: 70px;
    font-size: 88px;
    font-family: 'Bebas Neue';
    
    
}


main{
    text-align: center;
}


div.contatos > p{
    display: block;
    margin: auto;
}

div.contatos{
    padding-bottom: 200px;
    text-align: center;
}

div.RedesSociais {
    text-align: center;
}

section.sobremim{
    display: inline-block;
}

span{
    color: aquamarine;
    font-style: italic;
}


.minhaimg {
    border-radius: 50%;
    margin-bottom: 80px;
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.39);
}

#pf{
    width: 800px;
    font-size: 2vh;
    text-align: justify;
}

.contatos > p > span{
    font-weight: bold;
    color: rgb(211, 127, 18);
}


.linha {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
}




