
div.Linguagenseframeworks p{
    text-align: center;
}

div.Linguagenseframeworks > h2.ldep, h2.ldem, h2{
    font-size: 48px;
}

span#colorh2{
    color: rgb(12, 188, 241);
    font-style: normal;
    display: inline-block;
    background-color: rgb(5, 7, 10);
    border-radius: 20px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.555);
}

div.Linguagenseframeworks > div.box-hab {
    width: 400px;
    height: 380px;
    background-color: rgb(25, 30, 37);
    display: flex;
    margin: auto;
    
    border: 1px solid rgb(255, 255, 255);
}

div.box-hab img {
    height: 26.5%;
    padding-top: 20px;
    padding-left: 5px;
    display: block;
    margin: auto;
}



div.box-hab img.css {
    position: relative;
    left: 33%;
} 

div.box-hab img.javascript {
    height: 85px;
    position: relative;
    left: 70%;
} 


div.box-hab img.nodejs {
    position: relative;
    left: 39%;
}

div.box-hab img.typescript {
    position: relative;
    left: 70%;
} 





