@charset "UTF-8";

.RedesSociais {
    width: 100%;
    height: 230px;
    background-color: rgb(255, 255, 255);
}

.RedesSociais a{
    display: inline-block;
    justify-content: space-between;
    padding: 20px;
    
}

.RedesSociais{
    
}

.RedesSociais a{
    text-align: center;
    font-size: 3.4vw;
    line-height: 50px;
}


div.RedesSociais a:hover {
    color: aqua;
    text-decoration: none;
}

div.RedesSociais > p {
    color: black;
    text-align: center;
    font-size: 15px;
    padding-top: 80px;
}