@media screen and (min-width: 768px) and (max-width: 1024px) {
    span#burguer {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    menu {
        margin-right: 20px;
    }

    menu > ul > li{
        padding-top: 25px;
        padding-right: 15px;
        background: none;
        font-size: 20px;
        display: inline-block;
    }
    
    menu > ul > li > a {
        border: none;
        background: none;
    }

    menu > ul > li > a:hover {
        
        color: rgb(0, 0, 0);
        border-radius: 15px;
        transition: 0.5s all;
    }

    p#pf {
        width: 80vw;
    }

}

@media screen and (min-width: 1024px){

    

    span#burguer {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    menu {
        margin-right: 20px;
    }

    menu > ul > li{
        padding-top: 25px;
        padding-right: 15px;
        background: none;
        font-size: 20px;
        display: inline-block;
    }
    
    menu > ul > li > a {
        border: none;
        background: none;
    }

    menu > ul > li > a:hover {
        
        color: rgb(0, 0, 0);
        border-radius: 15px;
        transition: 1s;
    }

    p#pf {
        width: 30vw;
    }
    
}