@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Quicksand';
    font-size: 25px;
    background-image: linear-gradient(to bottom, rgb(11, 13, 15), hsl(240, 33%, 2%));
    color: white;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(0, 0, 0);
}

.divheader {
    display: flex;
    justify-content: space-between;
}

header .logo {
    padding: 20px;
    height: 55px;
}

.divheader a:hover {
    background: none;
}

span#burguer {
    color: white;
    padding: 30px;
    display: block;
    cursor: pointer;
    font-size: 1.5em;
}

menu {
    display: none;
    line-height: 50px;
}

menu > ul > li > a {
    color: white;
    display: block;
    text-align: center;
    border-top: 2px solid white;
    background-color: black;
}

menu > ul > li, a:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
}

h1, h2{
    font-size: 9vw;
    padding-top: 80px;
    padding-bottom: 60px;
}

.caracteristicas p{
    text-align: justify;
    display: block;
    margin: auto;
    padding-top: 25px;
}

p{
        
    font-size: 3.4vw;
    text-align: justify;
    width: 370px;
    
}

a{  
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;
}

.minhaimg {
    border-radius: 50%;
    margin-bottom: 30px;
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.39);
}

section.sobremim{
    display: inline-flex;
    margin: auto;
}

main{
    text-align: center;
}

span{
    color: aquamarine;
    font-style: italic;
}

#pf{
    display: none;
    margin: auto;
    padding-top: 50px;
    width: 70vw;
    font-size: 3.4vw;
    text-align: justify;
}


#meunome {
    line-height: 60px;
}

.button-vermais {
    padding-top: 50px;
}

.button-vermais p {
    width: 90px;
    padding: 10px;
    text-align: center;
    display: block;
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 20px;
    cursor: pointer;
}









